@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
  --bs-body-font-family: 'Lexend', sans-serif !important;
  /* Primary Color: muted purple */
  --bs-primary-rgb: 102, 51, 153 !important;
  --bs-primary-rgb-dark: 70, 35, 107 !important;
  --bs-primary-rgb-light: 130, 77, 187 !important;
  /* Secondary Color: muted dark orange */
  --bs-secondary-rgb: 232, 128, 0 !important;
  --bs-secondary-rgb-dark: 169, 96, 0 !important;
  --bs-secondary-rgb-light: 240, 159, 0 !important;
}
